<footer id="footer" class="bg-light mt-3">
    <div class="container">
      <div class="social-links">
        <a href="https://github.com/karthikb01" target="_blank" class="twitter">
          <img src="../../assets/icons/github.svg" alt="Github">
        </a>
        <!-- <a href="" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <a href="https://www.instagram.com/karthik.bannur/" target="_blank" class="instagram">
          <img src="../../assets/icons/instagram.svg" alt="Instagram">
        </a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a href="https://www.linkedin.com/in/karthikb01/" target="_blank" class="linkedin">
          <img src="../../assets/icons/linkedIn.svg" alt="LinkedIn">
        </a>
      </div>
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div> -->
      <div class="credits">
        <!-- Designed using Bootstrap -->
      </div>
    </div>
  </footer>
  <!-- End Footer -->
